html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

body {
  margin: 0;
  color: #244751;
  font-family: 'Roboto Condensed', sans-serif;
  background-image: url("/images/background.png");
}


main {
  display: block;
  width: 450px;
  height: 100%;
  background-color: white;
  margin:0 auto 0;
  padding: 2em;
}

.container {
 margin-top: 50px;
 box-shadow: 0px 3px 3px grey;
}

